[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target

[Service]
ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd.conf
ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

