[Unit]
Description=Terminate Psplash Boot Screen
After=psplash-start.service
ConditionPathExists=/run/psplash_fifo

[Service]
Environment=TMPDIR=/run
Type=oneshot
ExecStart=/usr/bin/psplash-write QUIT

[Install]
WantedBy=multi-user.target
