[Unit]
Description=Show Psplash Final Screen
After=getty@tty1.service display-manager.service psplash-start.service
Before=systemd-reboot.service systemd-halt.service systemd-poweroff.service
DefaultDependencies=no

[Service]
Environment=TMPDIR=/run
ExecStart=/usr/bin/psplash

[Install]
WantedBy=reboot.target halt.target poweroff.target
