[Unit]
Description=Starts Psplash Boot screen
Wants=systemd-vconsole-setup.service
After=systemd-vconsole-setup.service
DefaultDependencies=no

[Service]
Environment=TMPDIR=/run
ExecStart=/usr/bin/psplash

[Install]
WantedBy=sysinit.target
