# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

TOPDIR := "${@os.path.dirname(os.path.dirname(FILE))}"
BBPATH = '${TOPDIR}:${HOME}/.oe'
BBFILES = ''

BBLAYERS ?= "\
    ${MELDIR}/meta-sourcery \
    ${MELDIR}/meta-mentor \
    ${MELDIR}/meta-intel \
    ${MELDIR}/meta-oe/meta-oe \
    ${MELDIR}/meta-yocto \
    ${MELDIR}/oe-core/meta \
"
