[Unit]
Description=Linux Volume Manager
DefaultDependencies=no
Before=fsck-root.service local-fs.target 
After=udev.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/vgmknodes --refresh
ExecStop=/usr/sbin/pvchange -an 
ExecStop=/usr/sbin/vgchange -an 

[Install]
WantedBy=sysinit.target
